.body{
    background-image: url(https://hosting.photobucket.com/images/v421/jmhstar1211/las-vegas-getty-1578567126_95z2DUCeA599bmMsd8LbSH.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(180, 22, 22);
  }