.homepage-icon{
    height: 20px;
    width: auto;
    margin-top: 5px;
}
.adventure-icon{
    height: 20px;
    width: auto;
    margin-top: 5px;
}
.shopping-icon{
    height: 20px;
    width: auto;
    margin-top: 5px;
}
.historical-icon{
    height: 20px;
    width: auto;
    margin-top: 5px;
}
.food-icon{
    height: 20px;
    width: auto;
    margin-top: 5px;
}
.nightlife-icon{
    height: 20px;
    width: auto;
    margin-top: 5px;
}